<dl>
  <dt>name</dt>
  <dd>{{ data.name }}</dd>

  <dt>classification</dt>
  <dd>{{ data.classification }}</dd>

  <dt>designation</dt>
  <dd>{{ data.designation }}</dd>

  <dt>average height</dt>
  <dd>{{ data.average_height }}</dd>

  <dt>Eye Color</dt>
  <dd>{{ data.eye_colors }}</dd>

  <dt>Hair Color</dt>
  <dd>{{ data.hair_colors }}</dd>

  <dt>Skin Color</dt>
  <dd>{{ data.skin_colors }}</dd>

  <dt>Language</dt>
  <dd>{{ data.language }}</dd>

  <dt>HomeWorld</dt>
  <dd>{{ data.homeworld }}</dd>

  <dt>People</dt>
  <dd>{{ data.people }}</dd>

  <dt>Films</dt>
  <dd>{{ data.films }}</dd>

  <dt>URL</dt>
  <dd>{{ data.url }}</dd>

  <dt>Date Created</dt>
  <dd>{{ data.created | date}}</dd>

  <dt>Date Edited</dt>
  <dd>{{ data.edited | date}}</dd>

</dl>
