a{
  border: 3px solid blue;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  background-color: gray;
  color: blue;
  font-weight: bolder;
}
ul li {
  list-style: none;
}
